body {
    font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #333;
}

#home_body {
    background: #F4CD8D;
}

#model_body {
    background: #99C7E0;
}

#tabs nav {
    background: #99C7E0;
}

header {
    background-color: white;
    display: block;
    overflow: hidden;
}

#title {
    padding: 0.2em 0.5em;
    background: white;
    display: block;
}

nav {
    list-style: none;
    padding: 0 7px;
    margin: 0;
    float: left;
    width: 100%;
    display: block;   
}

nav a {
    float: left;
    display: block;
    margin: 0 1em 0 0;
    text-decoration: none;
    display: block;
    width: 250px;
    padding: 0 0.5em;
    font-weight: bold;
    color: #333; 
}

#top_menu {
   background: white; 
}

#top_menu a {
    border-bottom: 10px solid #eee;    
}

header ~ * {
    margin: 1em 1.5em;
}

#tab_menu {
    background: #eee;
}

#tab_menu a {
    border-bottom: 10px solid #ccc;     
}

#tabs div {
    background: #ccc;
}

/*#top_menu {
    background: white;
    list-style: none;
    padding: 0 7px;
    margin: 0;
    float: left;
    width: 100%;
    display: block;
}

#top_menu a{
    float: left;
    display: block;
    margin: 0 1em 0 0;
    text-decoration: none;
    display: block;
    width: 150px;
    padding: 0 0.5em;
    font-weight: bold;
    border-bottom: 10px solid #eee;
    color: #333;
}*/

#top_menu .home.focus {
    border-color: #e69000;
}

#top_menu .model.focus {
    border-color: #0072b2;
}

#tab_menu a:nth-child(1).focus {
    border-color: #009973;
}



#tab_menu a:nth-child(2).focus {
    border-color: #cc70a7;
}

#tab_menu a:nth-child(3).focus {
    border-color: #f0e342;
}

#tab_menu a:nth-child(4).focus {
    border-color: #56b0e9;
}

#tab-1 * {
    background: #009973;
}

#tab-2 * {
    background: #cc70a7;
}

#tab-3 * {
    background: #f0e342;
}

#tab-4 * {
    background: #56b0e9;
}

table a {
    text-decoration: none;
}

table {
    display: none;
}

section {
    margin: 1em 1em;
}


