{% extends "base.html" %}

{% block model %} focus selected {% endblock %}

{% block data %}
<section id="model_summary"> Model {{ model_specified }} has been found. </section>
        
<section id="tabs">
    <nav id="tab_menu" class="horizontal_menu">
        <a href="#tab-1">Model Reactions</a>
        <a href="#tab-2">Predicted Reactions</a>
        <a href="#tab-3">Summary</a>
    </nav>
    
    <p class="loader">loading ...</p>
    
    <div class="tab" id="tab-1">
        <table id="model_reactions" class="display datatable">
            <thead><tr>
                <td>ID (from model)</td>
                <td>Name</td>        
                <td>MNX Reaction</td>        
                <td>Equivalents</td>        
                <td>GPR</td>        
            </tr></thead>
            <tbody>
            {% for rxn in model_rxns_data %}
                <tr>
                    <td>{{ rxn.model_id }}</td>
                    <td>{{ rxn.name }}</td>        
                    <td>{{ rxn.db_reaction__name }}</td>        
                    <td>{{ rxn.equiv_count }}</td>        
                    <td>{{ rxn.gpr }}</td>        
                </tr>
            {% endfor %}
            </tbody>
        </table>   
    </div>
    
    <div class="tab" id="tab-2">
        <table id="predictions" class="display datatable">
            <thead><tr>
                <td>ID (X-ref)</td>
                <td>Name</td>        
                <td>Source</td>        
                <td>Cogzyme</td>        
                <td>Enzyme Constituents</td>        
            </tr></thead>
            <tbody>
            {% for pred in prediction_data %}
                <tr>
                    <td>{{ pred.reaction__mapping__name }}</td>
                    <td>{{ pred.reaction__name }}</td>        
                    <td>{{ pred.ref_model__name }}</td>        
                    <td>{{ pred.cogzyme__name }}</td>
                    <td>
                        {% for cog_locus in pred.cog_locus_list %}
                            {{ cog_locus.0 }}: {{ cog_locus.1 }} <br/>
                        {% endfor %}
                    </td>       
                </tr>
            {% endfor %}
            </tbody>
        </table>  
    </div>

    <div class="tab" id="tab-3">
        <p>Number of predictions: {{ summary.num_preds }}</p>
        <p>Number distinct adds: {{ summary.num_adds }}</p>
        <p>Number distinct rems: {{ summary.num_rems }}</p>
        <table id="summary" class="display">
            <thead><tr>
                <td>Reference Model</td>
                <td>Number of additions</td>        
                <td>Number of removals</td>                
            </tr></thead>
            <tbody>
            {% for model in summary.ref_model_list %}
                <tr>
                    <td>{{ model.0 }}</td>
                    <td>{{ model.1 }}</td>        
                    <td>{{ model.2 }}</td>        
                </tr>
            {% endfor %}
            </tbody>
        </table>       
    </div> 
    
</section>
{% endblock %}
